<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<!-- FRAGMENTO CABEZA -->
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} + ' - ' + ${appName}">Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<!-- FRAGMENTO NAVEGACIÓN -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" th:href="@{/}">
            <span class="text-info">Geo</span>control
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categorias}">Categorías</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- FRAGMENTO PIÉ -->
<footer th:fragment="footer" class="bg-dark text-white pt-5 pb-3 mt-5">
    <div class="container text-center">
        <div class="row mb-4">
            <div class="col-md-4">
                <h5>Geocontrol</h5>
                <p class="small text-white-50 text-decoration-none">Especialistas en tesoros de la tierra.</p>
            </div>
            <div class="col-md-4">
                <h5>Enlaces rápidos</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{/categorias}" class="text-white-50 text-decoration-none">Categorías</a></li>
                    <li><a th:href="@{/terms}" class="text-white-50 text-decoration-none">Condiciones de Uso</a></li>
                    <li><a href="/sobre-nosotros.html" class="text-white-50 text-decoration-none">Sobre nosotros</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p class="small text-white-50 text-decoration-none">info@geocontrol.com</p>
            </div>
        </div>
        <hr class="bg-secondary">
        <p class="mb-0">&copy; <span th:text="${anioActual}"/> Geocontrol</p>
    </div>
</footer>

</body>
</html>